@import "mixins"

+font-face("MontserratExLight", "../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight")
+font-face("MontserratLight", "../fonts/Montserrat-Light/Montserrat-Light")
+font-face("RalewayRegular", "../fonts/Raleway-Regular/Raleway-Regular")
+font-face("RalewayMedium", "../fonts/Raleway-Medium/Raleway-Medium")
+font-face("RalewaySemibold", "../fonts/Raleway-SemiBold/Raleway-SemiBold")
+font-face("RalewayExBold", "../fonts/Raleway-ExtraBold/Raleway-ExtraBold")

@mixin exlight 
  font-family: 'MontserratExLight', sans-serif
  font-weight: 200

@mixin light 
  font-family: 'MontserratLight', sans-serif
  font-weight: 300

@mixin regular 
  font-family: 'RalewayRegular', sans-serif
  font-weight: 400

@mixin medium 
  font-family: 'RalewayMedium', sans-serif
  font-weight: 500

@mixin semibold 
  font-family: 'RalewaySemibold', sans-serif
  font-weight: 600

@mixin exbold 
  font-family: 'RalewayExBold', sans-serif
  font-weight: 800